@import url('https://fonts.googleapis.com/css2?family=Fascinate&family=Poppins:wght@400;500;600&display=swap');

a {
    text-decoration: none;
    color: black;
 }

 .top {
   margin-top: 7rem;
 }
 @media screen and (max-width: 400px) {
    
   .samll__screen {
     margin-left: 1.5rem;
   }
 }